<app-title-subtitle [title]="title" [subTitle]="subTitle" class="title-box"></app-title-subtitle>

<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email :</label>
    <input type="email" id="email" formControlName="email"/>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" formControlName="password"/>

    <app-buttons
      [type]="TypeButtonEnum.submit"
      [buttonText]="'Me connecter'"
      class="form-button"
    ></app-buttons>
  </form>

  <span>Pas de compte ? <a class="link" routerLink="/register">S'inscrire</a></span>
</div>
