<nav class="navbar">
  <div>
    <div class="flex-row">
    <button class="navbar-button" (click)="navigateTo('/profile')"><img src="../../../assets/searchbar_assets/rechercher_assets.png" width="20px" alt=""></button>
    <button class="navbar-button" (click)="navigateTo('/recentMeeting')"><img src="../../../assets/searchbar_assets/relation-amicale.png" width="30px" alt=""></button>
  </div></div>
  <div>
<img src="../../../assets/logo/Logo-color.png" width="60" alt="logo-color">
  </div>
  <div>
    <button class="navbar-button" (click)="navigateTo('/notifications')"><img src="../../../assets/searchbar_assets/cloche_alerts_assets.png" width="30px" alt=""></button>
  </div>
</nav>
