<<<<<<< HEAD
=======
@import "./../../../../variables.scss";

.form {
  position: relative;
  padding: 40px 10px 0;
  //display: flex;
  .icon {
    position: absolute;
    top: 25px;
    left: 0;
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
    color: $primary-color;
    &:hover {
      color: red;
    }
  }

  .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
>>>>>>> 48da4f7 (Feat: Start register form style)
