<div class="wrap">

    <section class="form">
        {{selectedForm}}
    @if(selectedForm != 1)  {
    <div (click)="backPage()" class="icon"> < </div>
    }

    @if (selectedForm == listFormName.Credential){
        <app-form-credential (emitData)="getCredential($event)"></app-form-credential>
    }
    @else if (selectedForm == listFormName.Code) {
        <app-form-code (emitData)="getCode()"></app-form-code>
    }
    @else if (selectedForm == listFormName.Avatar) {
        <app-form-avatar (emitData)="getAvatar($event)"></app-form-avatar>
    }
    @else if (selectedForm == listFormName.CommonInfo) {
        <app-form-common-infos (emitData)="getCommonInfo($event)"></app-form-common-infos>
    }
    @else if (selectedForm == listFormName.Tag) {
        <app-form-user-tags (emitData)="getTags()"></app-form-user-tags>
    }
    </section>

</div>


