<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let invitation of invitations">
      <img class="imgResto" [src]="'https://localhost:7178/uploads/' +  invitation.restaurants.picture" alt="restaurant">
      <div class="overlay-textUser">
        <img class="profilPic" [src]="'https://localhost:7178/avatars/' + invitation.host.avatar" width="10" alt="Photo de profil">
        <p class="textUser">{{invitation.host.pseudo}}</p>
      </div>
      <div class="overlay-textParticipants">
        @for(guest of invitation.guest ; track $index ) {
          <img class="profilParticipants" [src]="'https://localhost:7178/avatars/' + guest.avatar" width="10" alt="Photo de profil">
        }

      </div>
 
      <app-title-subtitle [title]="invitation.restaurants.name ?? 'El restaurante'" 
      [subTitle]="invitation.restaurants.city ?? 'Rouen'">
      </app-title-subtitle>

      <div class="boutonMid">
        <app-buttons buttonText="Voir la carte" textColor="white" buttonColor="black"></app-buttons>
        <app-buttons (click)="joinReservation(invitation.invitationId)" buttonText="on s'invite" textColor="black" buttonColor="#D9D18C"></app-buttons>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
