<app-title-subtitle [title]="title" [subTitle]="subTitle"></app-title-subtitle>


<div class="container">
  @if(tags$ | async; as tags) {
      <div class="label-container">
    @for(tag of tags; track $index) {
        <span (click)="postTag(tag)" class="label">#{{tag.title}}</span>
    }
    </div>

  }


  <form  action="">
    <label for="bio">Biographie :</label>
    <textarea [(ngModel)]="biography" name="bio" id="bio"></textarea>
  </form>

  <app-buttons (click)="onSubmit()" [type]="TypeButtonEnum.submit" [buttonText]="'Finaliser mon profil'" class="form-button"></app-buttons>

</div>
