<app-title-subtitle title="Inscription" subTitle="" class="title-box"></app-title-subtitle>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email :</label>
  <input type="email" id="email" formControlName="email" />

  <label for="password">Mot de passe :</label>
  <input type="password" id="password" formControlName="password" />

  <app-buttons [type]="TypeButtonEnum.submit" [buttonText]="'Suivant'" class="form-button"></app-buttons>
</form>

<span>J'ai déjà un compte. <a class="link" routerLink="/login">Me connecter</a></span>
