<app-title-subtitle [title]="title" [subTitle]="subTitle"></app-title-subtitle>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div formGroupName="email">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <div formGroupName="password">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
  </div>
  <button type="submit">Submit</button>
</form>

<span>ou</span>

<app-buttons [buttonText]="'buttonText'"></app-buttons>