<div class="container">
    <div class="profile-card">
        <div class="card-image-container">
            <img class="card-image" src="https://i.redd.it/pzvsivc7yd651.jpg"
                alt>
        </div>
        <p class="card-username">nicolas76</p>
        <p class="card-age">59 ans</p>
        <p class="card-description">Je suis Nicolas, j’aime les jeux vidéos
            c’est ma passion, j’aimerais
            rencontrer des amis super sur cet app car je viens juste d’emménager
            à rouen. En plus j’aime beaucoup manger !</p>
            <div class="label-flex">
            <app-label></app-label>            
            <app-label></app-label>
            <app-label></app-label>
            <app-label></app-label>            
</div>

    </div>
</div>