<div class="navbar">

  <button class="navbar-button" (click)="navigateTo('/invitation')"><img src="../../../assets/navbar_assets/invitation_assets.png" width="30px" alt=""><p>Invitations</p></button>
  <button class="navbar-button" (click)="navigateTo('/restaurant')"><img src="../../../assets/navbar_assets/plateau-repas_navbar.png" width="30px" alt=""><p>Restaurants</p></button>
  <button class="navbar-button" (click)="navigateTo('/reservations')"><img src="../../../assets/navbar_assets/reservation_navbar.png" width="30px" alt=""><p>Reservations</p></button>
  <button class="navbar-button" (click)="navigateTo('/profile')"><img src="../../../assets/navbar_assets/reservation_navbar.png" width="30px" alt=""><p>Profil</p></button>
</div>
