<app-profil-card></app-profil-card>
<div class="profil-aliments">
    <h4>Préférences alimentaires</h4>
    <app-buttons></app-buttons>
    <h4>Allergies alimentaires</h4>
    <app-buttons></app-buttons>
</div>

<div class="profil-buttons">
    <app-buttons buttonText="Modifier mon profil"
        textColor="#000000" width="90vw" height="50px" borderRadius="100px" fontSize="16px" [cursorPointer]="true" (click)="navigateTo('/profile-update')"></app-buttons>
    <app-buttons buttonText="Paramètres de l’application" buttonColor="#000000"
        textColor="#FFFFFF" width="90vw" height="50px" borderRadius="100px" fontSize="16px" [cursorPointer]="true" (click)="navigateTo('/settings')"></app-buttons>
    <app-buttons buttonText="Se déconnecter" buttonColor="#FF5555"
        textColor="#FFFFFF" width="90vw" height="50px" borderRadius="100px" fontSize="16px" [cursorPointer]="true" (click)="navigateTo('/')"></app-buttons>
</div>