@import '../variables.scss';
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
// WRAP du site Angular
.wrap {
  height: 100svh;
  margin: 0 auto;

  .pages {
    height: calc(100svh - 151px);
    overflow-y: scroll;
  }
}
