<app-title-subtitle title="On a besoin d’infos..." subTitle=" Promis c’est rapide !"
                    class="title-box"></app-title-subtitle>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="nameInput">Nom :</label>
  <input type="text" id="nameInput" formControlName="name"/>

  <label for="surnameInput">Prénom :</label>
  <input type="text" id="surnameInput" formControlName="surname"/>

  <label for="pseudoInput">Pseudo :</label>
  <input type="text" id="pseudoInput" formControlName="pseudo"/>

  <label for="genderInput">Genre :</label>
  <select id="genderInput" formControlName="gender">
    <option>Homme</option>
    <option>Femme</option>
    <option>Autre</option>
  </select>

  <label for="dateOfBirthInput">Date de naissance:</label>
  <input type="text" id="dateOfBirthInput" formControlName="dateOfBirth"/>

  <app-buttons [type]="TypeButtonEnum.submit" [buttonText]="'Suivant'" class="form-button"></app-buttons>
</form>
