<div class="container">
    <div class="small-card">
        <div class="card-image-container">
            <img class="card-image"
                src="https://i.redd.it/pzvsivc7yd651.jpg"
                alt>
        </div>
        <div class="card-text-container">
            <p class="card-title">
                le 20/05 à 10:12
            </p>
            <p class="card-content">
                Julia79 a demandé à rejoindre votre rendez-vous du 7 avril à
                15h30 au Stormwin
            </p>
        </div>
        <div class="card-button-container">
            <a class="card-button">
                Détails
            </a>
        </div>
    </div>
</div>
