.container{
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px 0;
    .label{
        color: #000000;
        background-color: #FFFFFF;
        font-size: 13px;
        line-height: 13px;
        font-weight: 300;
        height: 21px;
        border-radius: 22px;
        padding: 5px 17px;
        margin: 4px;
    }
}