<div class="container">
    <div class="card-reservation">
        <div class="guest-list">
            <div class="guest-single">
                <div class="images">
                        <img class="card-image" [src]="'https://localhost:7178/avatars/' + reservation.host.avatar"
                    alt="">
                </div>
                
                <p class="card-guest-name">{{reservation?.host?.pseudo ?? 'el host'}}</p>
            </div>
        </div>
        <div class="card-text">
            <p>Le <span class="bold-text">23/03/24</span> à <span class="bold-text">19h30</span></p>
            <p>chez <span class="bold-text">{{reservation?.restaurants?.name ?? 'el restaurante'}}</span> : {{reservation?.restaurants?.localisation?.adress ?? '' }} à {{reservation?.restaurants?.localisation?.city ?? 'Rouen' }}</p>
         
        </div>
    </div>
</div>