.container {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;

    .card-reservation {
        display: flex;
        flex-direction: column;
        background-color: #F3F1DB;
        width: 90vw;
        border-radius: 20px;
        padding: 15px 10px;
        text-align: center;

        .guest-list {
            text-align: center;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .banner {
                max-width: 300px;
                max-height: 100px;
                filter: grayscale(80%);
            }

            .guest-single {
                width: 100%;
                margin-top: 5px;
                margin-bottom: 10px;

                .images {
                    display: flex;
                    justify-content: center;
                }

                .banner {
                    max-width: 300px;
                    max-height: 100px;
                    filter: grayscale(80%);
                }

                .card-image {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .card-guest-name {
                    font-weight: 300;
                }
            }
        }

        .card-text {
            font-size: 15px;
            line-height: 15px;
            font-weight: 300;
            margin-top: 20px;

            .bold-text{
                font-weight: 400;
            }
        }
    }
}