<div class="container">
    <div class="card-reservation">
        <div class="guest-list">
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
            <div class="guest-single">
                <img class="card-image" src="https://i.pinimg.com/736x/19/b9/bd/19b9bd342e7fdae288929077888e8ef8.jpg"
                    alt="">
                <p class="card-guest-name">Sophie29</p>
            </div>
        </div>
        <div class="card-date">
            <p>Le <strong>12/02/24</strong> à <strong>18h30</strong></p>
        </div>
        <div class="card-place">
            <p>à <strong>Le Druide</strong> Mont Saint Aignan.</p>
        </div>
    </div>
</div>